
body {
        margin: 0px;
        font-family: 'NanumSquareNeo', sans-serif;
        font-weight: 600;
        line-height: 20pt;
    }

.top {
        display: flex;
        flex-flow: row wrap;
        width: 90%;
        margin: 40px auto;
        font-size: 15pt;
    }

h2 {
        padding: 200px;
    }

body {  
        background-color: #f9f9f9;
        color: white;
    }
.filter {
	    display: flex;
        flex-flow: row wrap;
        width: 90%;
        margin: 40px auto;
    }
.category {
        margin-left: 5px;
        margin-right: 9px;
        margin-top: 7px;
        margin-bottom: 7px;
        padding: 7px;
        padding-left: 20px; 
        padding-right: 20px;
        text-align: center;
        font-size: 15pt;
        border-radius: 20px;
        border: 1px solid white;
    }
.category:hover {
        background-color: white;
        color: black;
    }

.works {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        width: 90%;
        margin: 40px auto;
        font-size: 17pt;
    }
.project {
        margin: 5px;
        margin-bottom: 20px;
    }
.project:hover {
        opacity: 80%;
    }
.project img {
        width: 100%;
    }
.title {
        padding-top: 10px;
        padding-bottom: 10px;
    }

@media screen and (max-width: 768px){
        .works{
            grid-template-columns: 1fr;

        }
    }